:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

#root {
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
  min-height: 100vh;
  transition: all 0.5s;
}

.modal-open {
  overflow: hidden !important;
}

.errorBoundary {
  text-align: center;
  margin: auto;
}

.section-fluid {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  &__content {
    width: 100%;
    max-width: 1600px;
  }
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: box-shadow 0.25s;

  background-color: var(--bg-button);
  color: var(--cl-button);
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  .button {
    padding: 0.7em 1.5em;
    font-size: 0.95em;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 10px;
  }

  .button {
    padding: 0.6em 1.2em;
    font-size: 0.9em;
  }
}

@media (hover: hover) {
  .button:hover {
    box-shadow: 0 0 5px var(--bsh-button-hover);
  }

  a:hover {
    color: #535bf2;
  }
}
